{
  "env": {
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:vue/vue3-recommended", "prettier"],
  "rules": {
    // override/add rules settings here, such as:
    "no-unused-vars": "warn",
    // "vue/max-attributes-per-line": "off",
    "vue/multi-word-component-names": "off" // 關掉禁用單一命名
  }
}
